@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  scroll-behavior: smooth;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  cursor: none !important;
}

.animated-underline {
  position: relative;
}

.animated-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(63 63 70);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.animated-underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* beautiful scrollbars */
*::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
.noscroll::-webkit-scrollbar,
.noscroll::-webkit-scrollbar-track,
.noscroll::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}

.rotate-animation {
  animation: rotate 3s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 50%;
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-radius: 0.5em;
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
    border-radius: 50%;
  }
}
